		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="img/icon/closemodal_white.png" class="clickable"></button>
    		<h3 id="modal-title"></h3>
  		</div>
  		<div id="dialog-modal" class="modal-body">
		</div>
