<div id="teacherpoll_ex">
	<div class="polltitle bold" id="polltitle">{{Title}}</div>
	<div class="polltitle" id="pollparticipants"><span style="color: rgb(137, 165, 78)">{{TotalParticipants}}</span><span> {{Participants}}</span> / <span style="color: rgb(137, 165, 78)">{{PartialParticipants}}</span><span> {{Votes}}</span></div>
	<div class="polltitle small" id="pollresults">{{PollResult}}</div>
	<div class="polltitle" id="pollquestion">{{SpecificQuestion}}</div>
	<div class="pollresults" id="pollgraph_ex"></div>
</div>