/* 
 *  common.css
 *
 * Foglio di stile relativo al tema "ligth" 
 * Contiene le istruzioni comuni per i diversi stili possibili
 *
 *  @author Claudio Perrotta <c.perrotta@studenti.unina.it>,<cl.perrotta@gmail.com>
 * 
 */
 
/**************************
 *
 *  Stili condivisi da tutte
 *  le pagine della WebApp
 *
 **************************/
.styledInput { color : gray; background-color: ghostwhite; border: 1px solid #aed0ea; padding: 5px; margin: 2px }
.smallpad { padding : 3px; }
.fLeft { float:left; }

/**************************
 *
 *  Stile per index.jsp
 *
 **************************/ 
#main_container {  width:600px; margin:0 auto;	border: 1px solid #aed0ea; background: whitesmoke; font-weight: bold; color: #2779aa; padding : 10px; font-size: 10pt; font-weight: normal; }
 
#conferenceContainer .conferenceId { font-size:14px; }
#conferenceContainer .onLineUser { font-size: 9px; color: grey; }
#conferenceContainer .controlSet { font-size:12px; float:right; margin-top: -3px;}
.conferenceList { width: 600px; border: 1px solid #aed0ea; background-color: #aed0ea; margin: 5px 0; padding: 2px 0 }
#conferenceContainer h3 { margin: 5px; color : white; }
#conferenceContainer .a { background-color: aliceblue; padding: 10px 5px 5px 5px; height: 25px; }
#conferenceContainer .b { background-color: ghostwhite; padding: 10px 5px 5px 5px; height: 25px; }
.wbLabel { float:left;width:60px;margin: 7px 0;}

/**************************
 *
 *  Stile per client.html 
 *  e wb_player.html
 *
 **************************/

/* Contenitore principale delle whiteboard */
/* #wb_container { width : 950px; } */

/* Override dello stile dei Tab di JQueryUI */
#wbtabs .ui-tabs-panel { padding : 0.0em 0.2em; }
#wbtabs .ui-icon-close { float: left; margin: 0; cursor: pointer; }
#wbtabs .ui-tabs-nav li a { padding: 2px 1px 3px 4px; }

/* /* Override dello stile dei widget di JQueryUI */ */
.ui-widget { font-size: 0.9em; }

/* Dimensione del container del canvas */
.canvasTab { height: 510px; overflow: auto; }

/* Stile dei tag HTML5 */
 
/* Toolbar */
#toolbar { height: 33px; padding: 0px 0px 5px 0px; }
#toolbar .buttonset .ui-button {margin-right: -.1em !important;}
#toolbar .toolbar_button { width: 32px; height: 32px; cursor: pointer; }
#toolbar .size_selector_div {padding-right: 5px;}
#size_slider { margin: 3px 8px 0px 8px; height: 12px; }
#picker { visibility:hidden; width:0px; height:0px; vertical-align: top; }

/* Player */
#toolbar .seekbar_div {  margin: 5px 0 2px 0; width : 710px}
#seekbar { margin: 5px 15px 0px 15px; height: 12px; }
#current_time {font-family: Verdana;  font-weight:bold; font-size: 8pt; margin: 10px 0px 0 0px; text-align: center; background: none;}

/* Modifiche allo stile dei dialog */
.styledDialog label { display:block; margin-top: 0.5em; }
.styledDialog input { display:block; width: 95%;}
.styledDialog textarea { width: 95%; }