/* 
 *  style3.css
 * 
 * Foglio di stile relativo al tema "light" 
 * Contiene le istruzioni relative allo stile "con bordi arrotondati e senza sfondo"
 *
 *  @author Claudio Perrotta <c.perrotta@studenti.unina.it>,<cl.perrotta@gmail.com>
 * 
 */

/* Elimino gli sfondi */
#wb_container .ui-tabs { border: none; background: none;}
#wbtabs .ui-widget-header { border: none; background: none; color: #222; font-weight: bold; }

#author_tooltip {
	/* Setto i bordi */
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;

	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;

	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	border-top-right-radius: 6px;

	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-left-radius: 6px;

	display : none; 
	width : auto;
	border: 1px solid #aed0ea;
	background: #d7ebf9;
	font-weight: bold;
	color: #2779aa;
	position: absolute;
	padding : 2px;
	font-size: 10pt;
	font-weight: normal;
}
