/* 
 *  style2.css
 * 
 * Foglio di stile relativo al tema "light" 
 * Contiene le istruzioni relative allo stile "senza bordi arrotondati e sfondo"
 *
 *  @author Claudio Perrotta <c.perrotta@studenti.unina.it>,<cl.perrotta@gmail.com>
 * 
 */

/* Elimino gli sfondi */
#wb_container .ui-tabs { border: none; background: none;}
#wbtabs .ui-widget-header { border: none; background: none; color: #222; font-weight: bold; }
 
/* Setto i bordi */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	-khtml-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-khtml-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

#author_tooltip { display : none;  width : auto; border: 1px solid #aed0ea; background: #d7ebf9; font-weight: bold; color: #2779aa; position: absolute; padding : 2px; font-size: 10pt; font-weight: normal; }
