@CHARSET "ISO-8859-1";

#errLogin {
	display: none;
	margin: 25% auto;
	width: 320px;
	height: 145px;
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 10px rgba(50, 50, 50, 0.75);
}

#errTitle {
line-height: 50px;
text-align: left;
padding-left: 25px;
background: rgb(204, 51, 51);
color: rgb(255, 255, 255);
font-weight: bold;
}

#errText {
line-height: 50px;
text-align: left;
color: rgb(255, 0, 0);
background: rgb(255, 255, 255);
display:inline-block;
}

#errLogin img {
	width: 50px;
	padding: 24px;
}