@CHARSET "ISO-8859-1";

/* Generic CSS */

body {
	background: rgba(113, 180, 74, 0.2);
	overflow: hidden;
	height: 100%;
}

.not-displayed {
	display: none;
}

header {
	height: 48px;
	background: rgb(113, 180, 74);
}

header>.header img {
	width: 120px;
	height: auto;
	margin: 10px;
}

header>a {
	display: inline-block;
}

header .title {
	display: inline-block;
	font-size: 18px;
	line-height: 42px;
	color: rgb(230, 230, 230);
	cursor: default;
	vertical-align: middle;
}

header .mainbtn {
	display: inline-block;
	float: right;
	height: 48px;
	width: 48px;
}

header #logoimg {
	position: fixed;
	right: 0px;
	bottom: 40px;
}

footer .logomeetecho {
	margin-right: 25px;
}

footer .logomeetecho img {

}

header .mainbtn>img {
	height: 28px;
	width: auto;
}

footer {
	position: absolute;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	height: 35px;
	background: rgb(113, 180, 74);
	text-align: right;
}

footer>span {
	display: inline-block;
	color: #ffffff;
	padding: 7px 35px;
}

.span0 {
	width: 0px !important;
}

.wrapper.span12 {
	margin-left: 0px;
}

.span0,.span3,.span7,.span8,.span9,.span12 {
	-webkit-transition: width 0.5s linear, margin-left 0.5s linear,
		min-width 0.35s linear;
}

.meetecho-feature {
	display: none;
}

/* Option Scrolldown */
.options-scrolldown {
	background: rgb(136, 136, 136);
	position: absolute;
	z-index: 5;
	display: none;
	padding: 5px 8px 5px !important;
}

.option {
	height: 36px;
}

/* Control Nav */
.header>.navbar>.navbar-inner {
	background: rgb(113, 180, 74);
	color: #ffffff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 0px;
	padding: 0px;
	height: 48px;
}

.navbar {
	height: 48px;
	float: right;
	margin-bottom: 0px;
}

.header>.navbar>.navbar-inner li {
	line-height: 34px;
}

.header>.navbar>.navbar-inner li.panel-btn {
	display: none !important;
}

.header>.navbar>.navbar-inner li.panel-btn:hover {
	display: none !important;
	cursor: pointer;
	background: url("../img/icon/round_gray.png");
}

.header .nav {
	height: 48px;
	margin: 0px;
}

.header .panel-btn img {
	width: 24px;
	height: 24px;
	margin-top: 8px;
}

.header span {
	font-size: 12px;
}

.header .tooltip-meet {
	min-height: 48px;
	color: #ffffff;
}

.header .tooltip-meet div {
	line-height: 48px;
	text-align: right;
	padding-right: 20px;
	display: none;
	cursor: default;
}

.header .rightpanel {
	width: 100%;
	margin-right: 0px;
}

/* attivare solo in fase di integrazione
.header .rightpanel .panel-btn {
	display: none; 
}*/
.header .rightpanel .panel-btn>div {
	padding: 3px 8px;
	/*border-right: 1px solid #000000;
	border-left: 1px solid #999999;*/
}

.header .rightpanel .panel-btn>div.last {
	border-right: 0px;
}

.header .rightpanel .panel-btn>div.first {
	border-left: 0px;
}

.header .online {
	padding: 0px 10px 0px 12px;
	cursor: pointer;
}

.header .online:hover {
	background: #999999;
}

.header .offset2 {
	-webkit-transition: margin 1s;
}

.header .offset0 {
	-webkit-transition: margin 1s;
}

.leftbar.span3 { /*margin-left: 10px !important;*/
	min-width: 275px;
}

.leftbar.span0 { /*margin-left: 10px !important;*/
	min-width: 0px;
}

/* Leftbar Card */
.maincontent .leftbar .card {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 0px 7px;
	box-shadow: 2px 2px 2px #CCCCCC;
}

.maincontent .leftbar .card>.cardblock {
	display: inline-block;
}

.maincontent .leftbar .card .card_avatar {
	padding: 8px 4px 8px 8px;
}

.maincontent .leftbar .card .own-avatar {
	width: 28px;
	height: 28px;
}

.maincontent .leftbar .card>.card_text {
	width: 40%;
	vertical-align: middle;
}

.maincontent .leftbar .card>.card_text>div {
	height: 18px;
}

.leftbar, .wrapper, #videoStudent {
	margin-top: 10px;
}

.maincontent .leftbar .card>.card_text .card_name {
	color: rgb(255, 173, 0);
	font-weight: bold;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
}

.maincontent .leftbar .card>.card_text .card_role {
	color: rgb(121, 121, 121);
	padding-bottom: 2px;
	font-size: 11px;
	line-height: 23px;
	text-transform: capitalize;
}

.maincontent .leftbar .card>.card_icon {
	height: 34px;
	width: 34px;
}

.maincontent .leftbar .card>.card_icon img {
	margin: 8px 5px;
}

.accordion-inner {
	padding: 0px;
}

.leftbar-participants hr {
	width: 24%;
	display: inline-block;
	padding: 0px 0px;
	margin-top: 0px;
	position: relative;
	top: 17px;
}

.leftbar-participants .title {
	margin: 5px 0px;
}

.leftbar-participants .title span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(121, 121, 121);
	margin: 0px 10px;
}

.leftbar-participants {
	text-align: center;
}

.leftbar-participants .card {
	margin: 10px 0px 5px 0px;
	box-shadow: none !important;
	text-align: left;
	width: 95%;
}

.leftbar-participants .card>.card_text {
	width: 45% !important;
}

.leftbar-participants .card>.card_text .card_name {
	color: rgb(98, 126, 199) !important;
}

.leftbar-button {
	background: #ffffff;
	width: 42px;
	height: 42px;
	display: inline-block;
	text-align: center;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.leftbar-button.active,.leftbar-button:hover {
	background: rgb(98, 126, 199);
}

/* Chat */
div#hiddenemo {
	position: relative;
	display: inline;
}

#emoWrapper img {
	margin-top: 5px;
	padding-top: 2px;
	padding-left: 3px;
	height: 18px;
	width: 18px;
}

#emoWrapper img,#smile_popup {
	cursor: pointer;
}

#emoWrapper {
	position: absolute;
	z-index: 100;
	background: rgb(255, 255, 255);
	box-shadow: 2px 2px 2px rgb(204, 204, 204);
	display: none;
	padding: 10px;
}

.leftbar-chat {
	height: 100%;
	text-align: center;
}

.leftbar-chat .box.chat-normal {
	width: 93%;
	display: inline-block;
	text-align: left;
	vertical-align: bottom;
	padding-top: 10px;
	overflow-y: auto;
	padding-right: 7px;
	margin-left: 14px;
}

.leftbar-chat .box-inner {
	overflow: hidden;
	outline: none;
}

.leftbar-chat .chat-msg {
	color: #666666;
	padding-top: 5px;
}

.leftbar-chat .chat-msg .chat-time {
	float: right;
	font-size: 11px;
}

.leftbar-chat .chat-msg .chat-header {
	border-bottom: 1px solid #CCCCCC;
}

.leftbar-chat .chat-msg .chat-header>span {
	font-weight: bold;
}

.leftbar-chat .chat-msg .chat-text {
	font-size: 12px;
}

.leftbar-chat .chat-msg-system .chat-text {
	font-size: 12px;
	font-style: italic;
}

.leftbar-chat .chat-msg-system {
	text-align: right;
}

.input-chat {
	height: 40px;
	overflow: hidden;
}

.input-chat>input {
	overflow: hidden;
	width: 87% !important;
	padding: 5px 30px 5px 5px;
	font-size: 12px;
	border-radius: 0px;
}

.input-chat>input#searchuser {
	background: rgb(240, 240, 240) url("../img/icon/search_gray.png")
		no-repeat right;
	width: 82% !important;
}

.input-chat>.hide_popup {
	width: 32px;
	height: 32px;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	right: 5px;
}

.input-chat>input#textbox {
	background: rgb(240, 240, 240) url("../img/icon/smile.png") no-repeat
		right;
}

.leftbar-chat .input-chat {
	padding: 4px;
}

/* Accordion */
.leftbar-button img {
	padding-top: 9px;
	height: 25px;
}

.accordion-toggle {
	background: #FFFFFF;
	color: rgb(121, 121, 121);
	font-size: 14px;
	font-weight: bold;
}

.accordion-toggle>img {
	padding-right: 0px;
	width: 26px;
	margin: -5px 0px -5px -5px;
}

.accordion-toggle .handsup>span,.accordion-toggle .online>span {
	font-size: 12px;
}

.accordion-toggle .handsup,.accordion-toggle .online,.accordion-toggle .accordion-arrow
	{
	margin: -3px -8px 0px 12px;
	display: inline-block;
}

a:hover.accordion-toggle {
	text-decoration: none;
	color: rgb(121, 121, 121);
}

a.active.accordion-toggle {
	color: #ffffff;
	background: rgb(113, 180, 74);
}

.accordion-group {
	border: 0px;
	margin: 0px 0px 5px;
	box-shadow: 2px 2px 2px #CCCCCC;
}

.accordion-inner {
	background: #FFFFFF;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Poll */
.leftbar .poll {
	text-align: center;
}

.leftbar .poll div {
	padding: 5px;
}

.leftbar .poll .polltitle {
	font-size: 12px;
	color: rgb(121, 121, 121);
	text-align: left;
	padding-left: 15px;
	padding-bottom: 0px !important;
	display: block;
}

.leftbar .poll .centered>.polltitle.bold {
	font-weight: bold;
	float: left;
}

.leftbar .poll .polltitle.bold {
	font-weight: bold;
}

.leftbar .poll .polltitle.time {
	width: auto;
	text-align: right;
}

.leftbar .poll .pollresults {
	padding: 0px;
}

.leftbar .poll .polltitle.addanswer {
	padding: 0px 15px;
	cursor: pointer;
}

.leftbar .poll .polltitle.addanswer img,.leftbar .poll .polltitle.addanswer span
	{
	padding-right: 5px;
}

.leftbar .poll .polltitle.addanswer img {
	width: 18px;
	margin-top: -2px;
}

.leftbar .poll textarea,.leftbar .poll input {
	width: 90%;
	padding: 5px;
	border-radius: 0px;
	background: rgb(240, 240, 240);
	font-size: 12px;
}

.leftbar .poll button.btn {
	width: 92%;
	margin-top: 15px;
	text-transform: uppercase;
	border-radius: 0px;
	font-size: 12px;
}

.leftbar .poll .single-option input {
	border-right: 10px solid;
	border-color: #4572A7;
	width: 87%;
}

.leftbar .poll .pollsum>.checked {
	background: rgb(240, 240, 240) url("../img/icon/greencheck.png")
		no-repeat right;
}

.leftbar .poll .pollsum>div {
	background: rgb(240, 240, 240);
	cursor: pointer;
	text-align: left;
	padding: 7px 0px 7px 15px;
	margin: 10px;
	font-size: 12px;
	color: rgb(121, 121, 121);
	border: 1px solid;
	border-left: 10px solid;
}

.leftbar .poll .pollsum input[type="checkbox"],.leftbar .poll .pollsum input[type="radio"]
	{
	display: none;
}

.leftbar .poll .centered>div {
	text-align: center !important;
	font-size: 14px !important;
	padding: 5px 10px !important;
}

.leftbar .poll .centered>div.bold2 {
	font-size: 18px !important;
}

.leftbar .poll div.small {
	font-size: 12px !important;
	padding: 5px 0px 0px !important;
	text-align: left !important;
	margin: 0px 17px;
	display: block !important;
	border-bottom: 1px solid rgb(240, 240, 240);
}

.leftbar .poll .centered>div.bold3 {
	float: none;
	margin-top: -10px;
	font-weight: bold;
}

/* Wrapper */

/* Slide */
select#slidepicklist {
	width: 375px;
}

.wrapper {
	height: 100%;
	text-align: center;
}

.wrapper>.slideview {
	height: 100%;
	display: none;
}

.wrapper>.slideview .slidetitle {
	position: absolute;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	text-align: center;
	height: 70px;
	z-index: 2;
	height: 45px;
	z-index: 2;
	padding-top: 25px;
	font-size: 18px;
	/*top: -70px;*/
}

/*.wrapper > .slideview .slidetitle_control {
	position:absolute;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	height: 2px;
	z-index: 3;
	top: -2px;
}*/
.wrapper>.slideview>.slideimg {
	height: 100%;
	position: relative;
	display: none;
	box-shadow: 2px 2px 2px rgb(204, 204, 204);
}

.wrapper>.slideview>.slidebuttons {
	height: 30px;
	position: relative;
	margin: 0px auto;
	display: none;
}

.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number.hidden {
	display: none;
}

.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number>a,.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number>a:visited
	{
	line-height: 30px;
	color: #FFF;
	background: #777;
	display: inline-block;
	width: 5%;
	text-align: center;
}

.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number>a#empty_slidecontrol,.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number>a:hover#empty_slidecontrol
	{
	color: #000000;
	background: #777;
}

.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number>a:hover,.wrapper>.slideview>.slidebuttons>.slideinfo>.slide_number>a.selected
	{
	color: #777;
	background: #FFF;
	text-decoration: none;
}

.slideview .slidebuttons .slide_number {
	text-align: left;
}

.wrapper>.slideview>.slidebuttons.disabled {
	height: 30px;
	position: relative;
}

.wrapper>.slideview>.slidebuttons>div {
	display: inline-block;
	margin: 0px -2px;
	vertical-align: top;
	cursor: pointer;
}

.wrapper>.slideview>.slidebuttons>.slidebutton.disabled {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
	width: 30px;
	height: 30px;
}

.wrapper>.slideview>.slidebuttons>.slidebutton.disabled img {
	display: none;
}

.wrapper>.slideview>.slidebuttons>.brushbutton {
	background: #53ab53;
	height: 30px;
	width: 30px;
}

.wrapper>.slideview>.slidebuttons>.slideinfo {
	height: 30px;
	background: #777777;
	cursor: default;
}

/* Video Horizontal */
.video-horizontal {
	padding: 0px 0px 10px 0px;
	float: right !important;
}

.video-horizontal .videoavatar {
	height: 100%;
	float: left;
}

/* Modal */
#meetecho-modal-container {
	display: none;
}

.modal {
	border-radius: 0px;
}

img.clickable {
	cursor: pointer;
}

.modal-header {
	background: rgb(113, 180, 74);
	color: #ffffff;
	min-height: 30px;
}

.modal-body {
	padding: 20px 30px;
}

.modal .loadslides>img,.modal .loadslides>div,.modal .loadslides>form {
	display: inline-block;
}

.modal .loadslides {
	height: 50px;
	margin-bottom: 20px;
}

.modal .loadslides select,.modal .loadslides input {
	margin: 10px 0px 0px 20px;
}

.modal .loadslides button {
	margin: 10px 0px 0px 0px;
}

.modal .loadslides>img {
	width: 30px;
}

.modal .loadslides form {
	margin: 0px 0px 0px 20px;
	width: 310px;
}

.modal .loadslides form>input {
	
}

/* Video Avatar Vertical */
#videocontainer .videoavatar>img,#conference_mode .videoavatar>img {
	width: 100%;
	height: auto;
}

#conference_mode #fakeclient.videoavatar {
	background: rgb(255, 255, 255) url("../img/nowebcam.jpg") no-repeat
		center;
	float: left;
	background-size: 93% 93%;
}

#conference_mode #fakeclient.hidden {
	display: none;
}

#conference_mode .videoavatar {
	padding: 10px;
	margin-bottom: 1%;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .25);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .25);
}

.video-vertical {
	margin-left: 10px !important;
	overflow-y: auto;
	overflow-x: hidden;
}

#videocontainer video,#conference_mode video {
	
}

/*Countdown*/
.countdown_section {
	background: #1b1b1b;
	width: 140px;
	margin: 30px 5px;
	border-radius: 70px;
	height: 140px;
	float: left;
	text-align: center;
}

.countdown_amount {
	margin: 25px;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	line-height: 85px;
	text-align: center;
}

.countdown_day {
	text-align: center;
	font-size: 24px;
	line-height: 14px;
	color: #fff;
	text-transform: lowercase;
}

#meetcho-modal #file_url_fake,#hidden_modal #choose_file_fake {
	cursor: pointer;
}

#meetcho-modal input#fileupload {
	height: 30px;
	cursor: pointer;
	position: relative;
	top: -51px;
	width: 417px;
	left: 17px;
	z-index: 10;
	opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity = 0); /* IE lt 8 */
	-ms-filter: "alpha(opacity=0)"; /* IE 8 */
	-khtml-opacity: 0.0; /* Safari 1.x */
	-moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

#meetcho-modal img#uploadingSlide {
	position: absolute;
	z-index: 2;
	margin: 5px 0px 0px 20px;
	width: 436px;
	height: 35px;
	display: none;
}

#meetcho-modal .modalButton {
	margin-top: 8px;
	margin-left: 0px;
}

#meetcho-modal .modalButton img,#meetcho-modal button img {
	width: 20px;
	height: 20px;
}

#meetcho-modal .modalInput {
	margin: 8px 0px 0px 20px;
	width: 362px;
}

#bar_undefined>div {
	background-color: rgba(51, 51, 51, 0.62) !important;
}

input.confInput {
	width: 60%;
	margin: 10px 18%;
}

#conflict_submit {
	width: 30%;
	margin: 0px 35%;
}

div#conflict_show_error {
	width: 90%;
	text-align: center;
	color: rgb(255, 255, 255);
	background: rgb(204, 51, 51);
}

div#alert_banner {
	display: none;
	position: absolute;
	bottom: 100px;
	left: 0px;
	right: 0px;
	background: rgba(204, 51, 51, 0.7);
	color: rgb(255, 255, 255);
	height: 35px;
	text-align: center;
	padding: 20px;
}

#conference_mode img.novideo {
	height: 100%;
}

.resetsearch {
	width: 20px;
	height: 20px;
	padding: 5px 10px;
	position: relative;
	display: none;
	float: right;
	cursor: pointer;
	right: 28px;
	top: -41px;
}

.modalbtn {
	padding: 10px 20px;
	text-align: center;
}

.modalbtn button {
	margin: 0px 20px;
	width: 100px;
}

#voipbox {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.highcharts-button {
	display: none;
}

.user_menu_element {
	padding: 5px;
	border: 1px solid #51a351;
	color: #51a351;
	cursor: pointer;
}

.user_menu_element:hover {
	background: #51a351;
	color: rgb(255, 255, 255);
}

.user_menu_sure {
	text-align: center;
	padding: 20px 0px 0px 0px;
}

#sendmail {
	width: 20px;
	height: 20px;
	margin-right: 0px;
	margin-top: -2px;
	cursor: pointer;
}

#mailaddress {
	width: 70%;
	margin: 0% 5% 0% 0%;
}

#sendmail-btn {
	width: 20%;
}

#wrapper .audioplayer {
	display: none;
}

.audioplayer {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 1px;
	width: 1px;
}

#stop_rec {
	margin-top: -2px;
	margin-right: 10px;
}