#videoStudent video {
	width: 100%;
	float: right;
	margin-top: 5px;
	margin-right: 2%;
}

#overlaySub {
	position: relative;
	width: 100%;
	text-align: center;
	pointer-events: none;
	bottom: 10%;
	line-height: 30px;
	font-size: 24px;
	z-index: 20;
	display: none;
}

#subMsg {
	background: rgba(50, 50, 50, 0.8);
	margin: auto;
	color: rgb(255, 255, 255);
}

#subbtn.off {
        background-color: rgb(180, 180, 180);
}

#playpause.disabled, #subbtn.disabled {
        background-color: rgb(180, 180, 180);
        cursor: default;
}

.video-slide-content {
	width: 100%;
	position: absolute;
	left: 0px;
}

#videoStudent {
	display: none;
}

#info {
	height:48px;
}
#videoTeacher video {
	width: 100%;	
}

#whiteboard {
	height: 100%;
}

#audio {
	display: none;
}

#meetecho-wbtab a {
	padding-bottom: 0px;
	padding-top: 0px;
}

#mContainer {
	width: 100%;
	height: 100%;
}

#wb_container {
	height: 100%;
}

#rectitle {
	margin: 3px 15px;
}

#controls,#controls>div,#seeker,#seeker>div,#extra {
	display: inline-block;
	float: left;
}

#controls {
	width: 25%;
	height: 100%;
	text-align: left;
}
#logoimg {
    display: none;
}

.logomeetecho {
height: 100%;
margin-top: 0px;
text-align: center;
padding: 5px 0px;
display: none !important;
}

canvas[id$='_canvas'] {
	position: absolute;
	top: 0;
	z-index:10;
	left: 0;
	background: #FFFFFF;
}

.wrapper>.slideview {
	position: relative;
	overflow-x: hidden;
}

span#time {
height: 100%;
position: relative;
top: 3px;
}

#seeker {
	padding-left: 5%;
	padding: 5px 0px;
	width: 70%;
}

#seeker>span {
	float: left;
	margin-left: 10px;
}

#seek {
	width: 100%;
	margin: 7px 0px;
}

footer span img {
	height: 20px;
	float: left;
}

#extra span {
	display: inline-block;
	color: rgb(255, 255, 255);
}

#extra {
	height: 35px;
	float: left;
	margin: 0px 5px;
	width: 100%;
}

.video-teacher {
	background: rgb(255, 255, 255);
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px rgb(204, 204, 204);
	height: 175px;
}

.video-teacher>video {
	width: 215px;
}

#playpause, #resetbtn, #subbtn {
	background-color: rgb(54, 132, 189);
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: 25px;
	width: 35px;
	height: 100%;
	border: none;
	background-position: 5px;
}

#subbtn {
	color: #FFFFFF;
	background-color: rgb(211, 144, 3);
	font-size: 11px;
	font-weight: bold;
}

#resetbtn {
	background-color: rgb(185, 2, 2);
}

/*SLIDER*/
a.ui-slider-handle.ui-state-default {
    background: rgb(54, 132, 189);
    border: 0px;
    margin: 5px 0px;
    border-radius: 0px;
    height: 110%;
    margin-top: 4px;
}

#seek {
    border-radius: 0px;
    height: 20px;
    margin: 2px 0px;
    background: rgb(255, 255, 255);
}

/*OVERLAY*/
#overlay {
	position: absolute;
	display:none;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 100;
	left: 0;
	text-align: center;
	background: rgba(50, 50, 50, 0.5);
}
#loadImg {
	width: 128px;
	margin-top: 5%;
}

#overlayMsg {
	width: 100%;
	margin-top: 33%;
	line-height: 50px;
	font-size: 25px;
	background: rgba(50, 50, 50, 1);
	color: rgb(255,255,255);
}

.etiquette {
	margin-bottom: -27px;
	z-index: 5;
	width: 8px;
	position: relative;
	height: 25px;
	background: rgb(255, 235, 0);
	cursor: pointer;
	margin-top: 2px;
}

/*SAMPLE CSS SOTTOTITOLI
::cue(.subClass) {
	color: yellow;
}*/