@CHARSET "ISO-8859-1";

.wb_container {
	
}
#meetecho-wbtab {
	width: 99%;
}
#wbtabs {
	margin-left: 0px;
}

#wbtabs ul {
	margin: 0px;
	height: 30px;
	max-height: 30px;
	background: rgb(230, 230, 230);
}

#wbtabs .picker_nav {
	list-style: none;
}

#wbtabs .nav-tabs > li {
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 20px;
	margin-right: 1px;
	background: rgb(50, 50, 50);
	border: 1px solid rgb(221, 221, 221);
	height: 16px;
	margin-top: -1px;
}

#wbtabs .nav-tabs > li.newTab, #wbtabs .nav-tabs > li.newTab:hover {
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 20px;
	margin-right: 1px;
	background: none;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	height: 14px;
	cursor: pointer;
}

#wbtabs .nav-tabs > li:hover, #wbtabs .nav-tabs > li.active {
	background: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);	
}

.nav-tabs > li:hover > a, .nav-tabs > li:hover > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	color: rgb(50, 50, 50);
	border: 0px;
	background: rgb(255, 255, 255);
}
.nav-tabs > li.newTab {
	width: 40px;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
	border: 0px;
	background: rgb(50, 50, 50);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	color: rgb(255, 255, 255);
}

#wbtabs .nav {
	margin: 0px;
	height: 30px;
	max-height: 30px;
	overflow-y: hidden;
	overflow-x: auto;
}

#wb_container #toolbar .buttonset {
	background: rgb(50,50,50);
	position:relative;
	z-index: 1;
}

#wb_container .canvasTab {
	float: left;
}

#wb_container .tab-content {
	margin-top: -2px;
	float: left;
	margin-left: 0px;
}

#wb_container .canvas {
	float: left;
	background-color: rgb(255, 255, 255);
}

#picker2 {
	width: 80%;
	height: 60%;
	cursor: pointer;
	vertical-align: top;
	margin-left: -4px;
	margin-top: 5px;
}

#size_value {
	color: rgb(230,230,230);
	font-size: 8pt;
	width: 42px;
	text-align: center;
}

#wb_container #toolbar .buttonset .wb_more_options {
	background: rgb(50,50,50);
	position: relative;
	z-index: -1;
}

#wb_container .close-icon {
	display: inline-block;
}

#wb_container .close-icon img {
	width: 13px;
	height: 13px;
	padding-left: 5px;
	margin-top: -4px;
	padding-right: 5px;
	cursor: pointer;
}

#wb_container #toolbar .buttonset input[type="radio"] {
	display: none;
}

#mContainer {

}

#toolbar {
	padding: 0px 0px 0px 0px;
	float: left;
	background: rgb(50, 50, 50);
}

#wb_container #toolbar [class*=wb-icon-] { 
	cursor: pointer; 
	display: inline-block;
	position: relative;
	z-index: 3;
	background-color: rgb(50, 50, 50);
}

#wb_container #toolbar [class*=wb-icon-].active { 
	background-color: rgb(153, 153, 153) !important;
}

/* Icone della toolbar */
#toolbar .wb-icon-drect { background: url("../html5wb/docebo/images/14_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-rect { background: url("../html5wb/docebo/images/4_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-dellipse { background: url("../html5wb/docebo/images/17_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-ellipse { background: url("../html5wb/docebo/images/6_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-fellipse { background: url("../html5wb/docebo/images/7_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-frect { background: url("../html5wb/docebo/images/5_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-line { background: url("../html5wb/docebo/images/2_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-arrow { background: url("../html5wb/docebo/images/3_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-dline { background: url("../html5wb/docebo/images/16_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-darrow { background: url("../html5wb/docebo/images/15_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-undo { background: url("../html5wb/docebo/images/10_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-rubber { background: url("../html5wb/docebo/images/11_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-draw { background: url("../html5wb/docebo/images/0_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-addwb { background: url("../html5wb/docebo/images/18_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-addimage { background: url("../html5wb/docebo/images/9_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-addtext { background: url("../html5wb/docebo/images/8_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-move { background: url("../html5wb/docebo/images/1_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-laser { background: url("../html5wb/docebo/images/12_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-highlight { background: url("../html5wb/docebo/images/19_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-wallpaper { background: url("../html5wb/docebo/images/13_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-clone { background: url("../html5wb/docebo/images/20_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-clean { background: url("../html5wb/docebo/images/21_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-resize { background: url("../html5wb/docebo/images/22_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}
#toolbar .wb-icon-savewb { background: url("../html5wb/docebo/images/23_nb.png") rgb(50,50,50) no-repeat center; background-size: 80%;}

.wb_nav_btn.wb-icon-addwb { 
	background: url("../img/icon/circleplus_gray.png") no-repeat;
	background-size: 20px;
	margin-left: 9px;
	height: 20px;
	width: 20px;
}

#hidden_modal {
	position: absolute;
	z-index: -0;
	display: none;
	bottom: 50px;
	margin-left: 2px;
	text-align: center;
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
}

#hidden_modal .wbInput {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-top: 8px;
	margin-bottom: 0px;
	width: 85%;
}

#hidden_modal .jslider {
	margin: 15px auto;
	width: 85%;
}

#hidden_modal div {
	text-align: center;
}

#hidden_modal .wbTitle {
	background: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	padding: 10px;
}

#hidden_modal .wbInput#textarea {
	margin-top: 10px;
	height: 80%;
}

#hidden_modal .textlabel {
	color: rgb(50, 50, 50);
	width: 70%;
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	vertical-align: bottom;
	line-height: 26px;
}

#hidden_modal .title {
	color: rgb(121, 121, 121);
	font-weight: bold;
	font-size: 14px;
	margin-top: 8px;
}

#hidden_modal .input-append {
	margin-left: -10%;
	width: 70%;
}

#hidden_modal .wbButton {
	margin-top: 8px;
}

#hidden_modal .wbButton img {
	width: 20px;
	height: 20px;
}

#hidden_modal #file_url_fake, #hidden_modal #choose_file_fake {
	cursor: pointer;
}

#hidden_modal input#file-up {
  height: 30px;
  cursor: pointer;
  position: relative;
  top: -40px;
  width: 230px;
  right: 0px;
  z-index: 10;

  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}