::-webkit-scrollbar{
    width:0.5em;
    height:0.5em;
	background: #DDDDDD;
	margin-right: 10px;
	border-radius: 5px;
}
::-webkit-scrollbar:hover{
    background-color:#ffffff ;
	border: none;
}
::-webkit-resizer{
    -webkit-border-radius:4px;
	border: none;
}
::-webkit-scrollbar-thumb{
    min-height:0.5em;
    min-width:0.5em;
    -webkit-border-radius:4px;
    background-color: #CCCCCC;
	border: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #666666;
	border: none;
}
::-webkit-scrollbar-thumb:active{
    background-color:#666666;
	border: none;
}