html,body{margin:0;padding:0}
body{
	width:100%;
	height:100%;
	font: 76% arial,sans-serif;
}
p{margin:0 10px 10px}
a{text-decoration:none; color:#3366cc;}
a:hover{text-decoration:underline; color:#3366cc;}
div#container{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
div#headergradient{
	float:left;
	width:100%;
	height:80px;
	background-image: url(header_1x1.png);
	background-repeat: repeat-x;
}
div#headergradient h1{
	margin:0;
	padding-top:22px;
	font-size: 100%;
	font-style:italic;
}
div#headergradient h1 a{
	color: #000000;
}
div#header{
	float:left;
	width:180px;
	height:80px;
	background-image:url("header.png");
	background-repeat:no-repeat;
}
div#content p{line-height:1.4}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#navigation a{display:inline;padding:0;color: #3366CC}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color: #3366CC}
div#wrapper{
	float:left;
	width:100%;
	height:100%;
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#CCCCCC', GradientType=0);
}
div#extra{float:left;height:400px;width:300px;margin-left:-100%}
div#content{margin-left: 300px;}
div#navigation{
	float:left;
	width:100%;
	overflow-y: auto;
}
div#navigation textarea#textbox{width:98%;height:16px;border:3px solid #C6D5FD;resize:none;}
div#footer{
	position: fixed !important;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:<length>;
}
div.box{width:100%;height:270px;padding:1px 0;font-size:10px}
div.box-inner{height:250px;overflow-y:scroll;margin:10px 9px 0;padding-right:2px;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.entry {width:500px; margin:0 auto; background: #ccc; padding:10px; border: 1px solid black;}
ul.idTabs {margin:0; padding:0; }
ul.idTabs li{list-style: none; margin:0; padding:0}
ul.idTabs li a {float: left;
				padding:  5px;
				text-decoration: none;
				background: #F3F2ED;
				color: #444;
				border-top:1px solid #444;
				border-left:1px solid #444;
				border-right:1px solid #444;
				border-top-right-radius: 10px;
				-moz-border-radius-topright: 10px;
}
.tabcontainer div {clear:left; padding: 10px;}
ul.idTabs li a.selected {background: #444; color: #fff}

#slidecontrols a {background: #444; color: #fff; border:1px solid #444;}
#slidecontrols a.selected {background: #F3F2ED; color: #444; border:1px solid #444;}

#tooltip{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}	

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

#slideimg{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#slidecontrols{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
